.btn {
  width: 120px;
  padding: 9px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.btn-orange {
  border: 1px solid #fd8d4d;
  background: linear-gradient(to top, #fd7a22, #ffa103);
  color: #fff;

  .no-touch &:hover {
    background: #ffa733;
  }

  .touch &:active,
  &:active {
    background: linear-gradient(to top, #ffa103, #fd7a22);
  }

  &:focus {
    outline: none;
    background: #ffa733;
    box-shadow: -1px -1px 5px 1px rgba(255,213,191,1);
  }
}

.btn-grey {
  border: 1px solid #c8c8c8;
  background: #f2f2f2;
  color: #404040;

  &:focus {
    outline: none;
    box-shadow: -1px -1px 5px 1px rgba(222,222,222,1);
  }

  .no-touch &:hover {
    background: #f2f2f2;
  }

  .touch &:active,
  &:active {
    background: #f2f2f2;
  }
}