section.document
  ul.document__list
    li.document__item
      .document__info
        .document__img
          img(src="https://picsum.photos/200/300/?random" alt="document" width="48" height="64").document__photo
        .document__data
          p.document__name name_of_document
          p.document__time-edit Last Edited: <span class="time">08/08/2014</span>
      .document__view
        button(type="button").btn.btn-orange View Document
    li.document__item
      .document__info
        .document__img
          img(src="https://picsum.photos/200/300/?random" alt="document" width="48" height="64").document__photo
        .document__data
          p.document__name name_of_document
          p.document__time-edit Last Edited: <span class="time">08/08/2014</span>
      .document__view
        button(type="button").btn.btn-orange View Document
    li.document__item
      .document__info
        .document__img
          img(src="https://picsum.photos/200/300/?random" alt="document" width="48" height="64").document__photo
        .document__data
          p.document__name name_of_document
          p.document__time-edit Last Edited: <span class="time">08/08/2014</span>
      .document__view
        button(type="button").btn.btn-orange View Document
