.document {
  font-family: "Arial", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__name,
  &__time-edit,
  &__list {
    margin: 0;
  }

  &__list {
    padding: 0;
    width: 520px;
  }

  .btn {
    width: 140px;
  }

  &__item {
    min-height: 68px;
    padding: 9px 20px 9px 9px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;

    &:last-child {
      border-bottom-width: 2px;
    }

    &:first-child {
      border-top-width: 2px;
    }
  }

  &__info,
  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.touch .document__item {
  display: block;
}

.document__data {
  padding-top: 15px;
}


.document__img {
  width: 48px;
  height: 64px;
  border: 1px solid #e1e1e1;
  margin-right: 9px;
}

.document__photo {
  width: 100%;
}

.document__name  {
  color: #3c3c3c;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.document__time-edit {
  font-size: 12px;
  color: #8f8f8f;
}

.document__view {
  display: flex;
  align-items: center;
}
